body{
    width: 920px;
    font-family: sans-serif;
}

h1{
    color: deepskyblue;
    border-bottom: 2px solid deepskyblue;
}
.links{
    display: flex;
    justify-content: space-between;
}
a {
    text-transform: uppercase;
    display: block;
    padding: 10px 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}
table, th{
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
    margin-top: 40px;
}

th{
    width: auto;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: aqua;
}
td{
    text-align: center;
    padding: 10px;
}
td.prices:after {
    content:' Kč';
}
.prices{
    font-size: larger;
}
button{
    border:0;
    background-color: unset;
}

#average{
    font-size: 30px;
    font-weight: bold;
}


label, input {
    display: block;
}
label{
    color: red;
    font-weight: bold;
    margin-top: 25px;
}

input {
    border:2px solid red;
    border-radius: 5px;
    padding: 10px;
    width: 87%;
    font-size: 20px;
}

#searchButtonAndInputBox {
    display: flex;
    justify-content: space-between;
}

#searchbutton{
    display: block;
    padding: 15px 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}

