<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new todo</title>
</head>
<body>
<h1>Add new todo</h1>
<form th:object="${newtodo}" action="/add" method="post">
    <label for="newtodo" th:style="'font-size: 25px;'">New todo</label>
    <input placeholder="Remember everything" type="text"
           id="newtodo" th:field="*{title}">
    <input type="submit"  value="Submit">
    <br>
    <label for="assignee" th:style="'font-size: 25px;'">Assignee</label>
    <select id="assignee" name="assignee">
        <option value="" selected disabled></option>
        <option th:each="assignee : ${assignees}"  th:text="${assignee.getName()}"
                th:value="${assignee.getId()}"></option>
    </select>
    <a href="/todo" th:method="get">cancel</a>
</form>
</body>
</html>