<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>List of assignee</title>
</head>
<body>
<a href="/addAssignee">Add new assignee</a>
<table  class="table table-striped table-sm table-bordered table-hover">
    <thead class="thead-light" >
    <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">Todos</th>
    </tr>
    </thead>
    <tr th:each="assignee : ${assignees}" th:object="${assignee}">
        <td scope="row" th:text="*{getId()}"></td>
        <td scope="row" th:text="*{getName()}"></td>
        <td scope="row" th:text="*{getEmail()}"></td>
        <td scope="row">
            <ul th:each="todo: *{getTodos()}">
                <li th:text="${todo.title}" style="list-style-type: none;"></li>
            </ul>
        </td>
    </tr>
</table>
</body>
</html>