<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Todos</title>
</head>
<body>
<div>
    <div class="container">
        <h1>Todos for today:</h1>
        <a href="/add"><u>Add new todo</u></a>

        <div id="searchbar">
            <form action="/search" th:method="get">
                <label for="searchText">Search for:</label>
                <input type="search" id="searchText" name="searchText">
                <button type="submit">Search</button>
            </form>

        </div>
        <table class="table table-striped table-sm table-bordered table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">ACTION</th>
                <th scope="col">DONE</th>
                <th scope="col">URGENT</th>
                <th scope="col">ASSIGNEE</th>
                <th scope="col">Date</th>
                <th scope="col">OPTIONS</th>
            </tr>
            </thead>
            <tr th:each="todo : ${todos}" th:object="${todo}">
                <td scope="row" class="align-middle" th:text="*{getId()}"></td>
                <td scope="row" class="align-middle"
                    th:style="*{isComplete()}==true ? 'text-decoration: line-through;' : 'text-decoration: none;'"
                    th:text="*{getTitle()}">
                </td >
                <td scope="row" th:text="*{isComplete()}"></td>
                <td scope="row" th:text="*{isUrgent()}"></td>

                <!-- "/todo" Get mappingnek oda kell adni az összes assignee-t is, csak így találja meg azok tulajdonságait!!!-->

                <td >
                    <form th:action="@{/assigneeAndTodos/{id} (id=*{getId()})}" method="get">
                        <button type="submit" class="btn btn-link" th:value="*{getId()}" th:text="*{getAssignee().name}"></button>
                    </form>
                </td>
                <td scope="row" class="align-middle" th:text="*{getDate()}"></td>
                <td>
                    <form th:action="'/complete/?todoId=' + *{getId()}" method="post">
                        <button type="submit" class="btn btn-link" th:value="*{getId()}">Complete</button>
                    </form>
                </td>
                <td>
                    <form th:action="'/remove/?todoId=' + *{getId()}" method="post">
                        <button type="submit" class="btn btn-link" th:value="*{getId()}">Delete</button>
                    </form>
                </td>
                <td scope="row">
                    <form th:action="@{/addAssigneeForTodo/{id} (id=*{getId()})}" method="get">
                        <button type="submit" class="btn btn-link" th:value="*{getId()}">Add assignee</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/{id}/edit (id=*{getId()})}" th:method="get">
                        <button type="submit" class="btn btn-link" th:value="*{getId()}">Edit</button>
                    </form>
                </td>
                </tr>
        </table>
        <a href="/assignee"><u>Assignees</u></a>
    </div>
</div>
</body>
</html>