body {
    background-color: black;
}


table {
    padding: 20px;
    border-collapse: collapse;
    width: 800px;
    border: 30px solid cornflowerblue;
    border-radius: 10px;
    -moz-border-radius: 5%;
}

th, td {
    color: gray;
    width: 40%;
    text-align: start;
    padding: 15px;
    border: 1px solid lightgray;
}

th {
    background: black;
    border-bottom: 2px solid lightgray;
    font-size: 18px;
}

tr:nth-child(even){
    background-color: whitesmoke;

}tr:nth-child(odd){
    background-color: white;
}