<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show one bank account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal type</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${bankAccount.name}"></td>
        <td th:text="|${#numbers.formatDecimal(bankAccount.balance, 0, 2, 'POINT')} Zebra|"></td>
        <td th:text="${bankAccount.animalType}"></td>
    </tr>
</table>
</body>
</html>