<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link   rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>My Shop</h1>
    <div class="links">
    <a  href="/only-available">only available</a>
    <a href="/cheapest-first">cheapest first</a>
    <a href="/contains-nike">contains nike</a>
    <a href="/average-stock">average stock</a>
    <a href="">most expensive available</a>
    </div>
</header>
<form action="">
    <label for="search">Search for:</label>
    <div id="searchButtonAndInputBox">
    <input placeholder="...something like nike" type="text" id="search" name="search">
    <button id="searchbutton" type="submit">Search</button>
    </div>
</form>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity of stock</th>
    </tr>

    <tr th:each="shopItems: ${shopItems}">
        <td th:text="${shopItems.getName()}"></td>
        <td th:text="${shopItems.getDescription()}"></td>
        <td class="prices" th:text="${shopItems.getPrice()}"></td>
        <td th:text="${shopItems.getQuantityOfStock()}"></td>
    </tr>
</table>
</body>
</html>