<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new todo</title>
</head>
<body>
<h1>Add new todo</h1>
<form th:object="${editTodo}" th:action="@{/editTodo/{id}(id=*{id})}" th:method="post">
    <input hidden type="text" th:value="*{id}" name="id">

    <label for="title">Todo description</label>
    <input type="text" th:field="*{title}" name="title" id="title">

    <label for="urgent">Urgent</label>
    <input type="checkbox"  name="urgent" id="urgent" th:field="*{urgent}">

    <label for="complete">Complete</label>
    <input type="checkbox" th:field="*{complete}" name="complete" id="complete">

    <label for="assignee">Assignee</label>
    <select id="assignee" name="assignee">
        <option value="" selected disabled></option>
        <!-- ez adja meg hogy a legördülő menü alapból ne válasszon ki semmit ha >Valami</option> akkor Valami lesz az alap-->
        <option th:each="assignee : ${assignees}"
                th:value="${assignee.id}"
                th:text="${assignee.name}"/>
    </select>

    <button type="submit">Submit</button>
</form>
</body>
</html>