<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<h1>Todos for today:</h1>
<form th:action="@{/addTodo}" th:object="${newTodo}" th:method="post">
    <label for="newtodo">New todo</label>
    <input type="text" th:field="*{title}" required id="newtodo" name="title">
    <button th:type="submit">Add</button>

</form>
<div class="container">
<table  class="table table-striped table-sm table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Active</th>
        <th>Urgent</th>
    </tr>
    <tr th:each="todo: ${todos}" th:object="${todo}">
        <td th:text="*{id}"></td>
        <td th:text="*{title}"></td>
        <td th:text="*{isComplete()}"></td>
        <td th:text="*{isUrgent()}"></td>
        <td>
            <a th:href="@{/editTodo/{id} (id=*{id})}">Edit</a>
        </td>
        <td>
            <form th:action="@{/deleteTodo/{id} (id=*{id})}" th:method="post">
                <button class="page-link" th:type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
</div>
</body>
</html>